*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #eee;
}
header{
  padding: 5px;
  display: grid;
  
  grid-template-columns: repeat(3, 100px);
  a{
    padding: 10px;
    border: 1px solid #555;
    color: white;
    text-decoration: none;
  }
  a:hover{
    border: 1px solid #444;
  }
}
main{
  padding: 40px;

}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
}
li{
  background-color: hsl(300, 100%, 30%);
  padding: 5px;
  border-radius: 6px;
  transition: background-color 0.1s linear;
}
li:hover{
  background-color: hsl(300, 100%, 25%);
  cursor: pointer;
}
.todo{

}
.done{
  opacity: 40%;
}
button{
  padding: 5px;
  width: 100px;
  background-color: rgb(22, 85, 186);
  border: none;
  color: white;
}
button:hover{
  cursor: pointer;
  background-color: hsl(217, 79%, 47%);
}